.setgegdel{
	padding:4em 1em;
	text-align:center;
	background-color:white;
	position:relative;
	overflow:hidden;
	.left1{
		position:absolute;
		left:0px;
		top:50%;
		margin-top:-100px;
		width:200px;
		height:200px;
		overflow:hidden;
		border:3px solid white;
		transform: rotate(45deg);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.left2{
		position:absolute;
		left:150px;
		top:40%;
		width:120px;
		height:120px;
		overflow:hidden;
		border:3px solid white;
		transform: rotate(45deg);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.right1{
		position:absolute;
		right:0px;
		top:50%;
		margin-top:-100px;
		width:200px;
		height:200px;
		overflow:hidden;
		border:3px solid white;
		transform: rotate(45deg);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.right2{
		position:absolute;
		right:150px;
		top:40%;
		width:120px;
		height:120px;
		overflow:hidden;
		border:3px solid white;
		transform: rotate(45deg);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}